section#admin-sidebar
	header
		a(href="/") Prelaunch
	nav
		.sidebar-nav 
			a(href="/subscribers") Subscribers

		.sidebar-nav 
			a(href="/prizes") Prizes

		.sidebar-nav 
			a(href="/settings") Settings

		.sidebar-nav
			a(href="/sign_out", "data-method"="delete") Exit